.env
scraper.log
cache
Yad2_Scraper/script1.PY
__pycache__
.env
scraper.log
cache
Yad2_Scraper/script1.PY
Yad2_Scraper/requirements.txt
Yad2_Scraper/requirements.txt
Yad2_Scraper/requirements.txt
Yad2_Scraper/scraper.log.1
Yad2_Scraper/__pycache__/logger.cpython-312.pyc
Yad2_Scraper/config/__pycache__/settings.cpython-312.pyc
Yad2_Scraper/core/__pycache__/database.cpython-312.pyc
Yad2_Scraper/core/__pycache__/embeddings.cpython-312.pyc
Yad2_Scraper/core/__pycache__/parser.cpython-312.pyc
Yad2_Scraper/core/__pycache__/scraper.cpython-312.pyc
Yad2_Scraper/utils/__pycache__/constants.cpython-312.pyc
